################################################
###       environment config file            ###
################################################
SOURCE_DIR=./

############# Container source.list ############
REPLACE_SOURCE_LIST=true

#################### PHP ####################
PHP72_VERSION=7.2.13
PHP72_SWOOLE_VERSION=4.3.1



#################### mysql ##################
[MYSQL]
HOST=127.0.0.1


[QINIU]
IMG_HOST=https://img.zzhpeng.cn
CALLBACK_URL=http://uu24x2.natappfree.cc