################################################
###       environment config file            ###
################################################
SOURCE_DIR=./www

############# Container source.list ############
REPLACE_SOURCE_LIST=true

#################### PHP ####################
PHP72_VERSION=7.2.13
PHP72_SWOOLE_VERSION=4.3.1